<%- include('partials/header') %>

<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light">
    <h1 class="logo"><i class="fas fa-pen-fancy"></i> Open Up</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-dark btn-lg text-light" href="/compose" role="button">Open Up</a>
        </li>
      </ul>
    </div>
  </nav>
  <h3 class="display-3">Hey, <%= nickname %> :) </h3>
  <p class="page-description">Dive into the Depths: Share Your Hidden Stories, Emotions, and Confidences.</p>
  <hr>
  <div class="posts-container">
    <% for(var i = posts.length - 1; i >= 0; i--) { %>
      <div class="post">
        <h2><%= posts[i].title %></h2>
        <h6><%= nickname %></h6>
        <p><%= posts[i].body %></p>
      </div>
    <% } %>
  </div>
</div>

<%- include('partials/footer') %>
